@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.contaiiner {
  max-width: 1145px;
  margin: 0 auto;
}

.header {
  background: #FFFFFF;
  padding-top: 64px;
}

.negr {
  transition: 0.5s;
}
.negr:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.header__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
}
.header__list .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__list .left .negrlar {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 24px;
}
.header__list .right .preimuwestva {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__list .right .preimuwestva .n1 {
  margin-right: 60px;
}
.header__list .right .preimuwestva .div {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header__list .right .preimuwestva .div img {
  margin-right: 19px;
}
.header__list .right .preimuwestva .div p {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #0D0D0D;
}
.header__list .right h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  /* identical to box height, or 34px */
  font-feature-settings: "pnum" on, "lnum" on;
  padding-top: 16px;
  color: #000000;
}
.header__list .right h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  /* identical to box height, or 48px */
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
  padding-bottom: 16px;
}
.header__list .right p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  padding-top: 16px;
  color: #000000;
}
.header__list .right h4 {
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  /* identical to box height, or 48px */
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
  padding-top: 28px;
}
.header__list .right h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  letter-spacing: 0.44px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-top: 22px;
  color: #000000;
}
.header__list .right .buttonss {
  width: 70%;
  margin-top: 8px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 8px;
}
.header__list .right .buttonss button {
  border: none;
  transition: 0.5s;
  padding: 12px;
}
.header__list .right .buttonss button:hover {
  background-color: #FFC000;
}
.header__list .right .buttons2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.header__list .right .buttons2 .btn1, .header__list .right .buttons2 .btn2 {
  border: none;
  transition: 0.5s;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  padding: 10px 86px;
  color: #000000;
}
.header__list .right .buttons2 .btn1:hover, .header__list .right .buttons2 .btn2:hover {
  background-color: #FFC000;
}
.header__list .right .buttons2 .btn2 {
  margin-top: 16px;
  padding: 10px 99px;
}

.chap {
  width: 70%;
}

.main1__body h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  /* identical to box height, or 48px */
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
  padding-top: 64px;
}
.main1__body .kards {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.kard h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
  padding-top: 7px;
}
.kard p {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  letter-spacing: 0.4px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Black */
  color: #000000;
  padding-top: 8px;
}
.kard .div {
  padding-top: 8px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.kard button {
  border: none;
  transition: 0.5s;
  padding: 8px 24px;
  margin-top: 16px;
  width: 100%;
  margin-bottom: 8px;
}
.kard button:hover {
  background-color: #FFC000;
}

.pdd {
  padding: 10px;
}

.main2__body h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 140%;
  /* identical to box height, or 48px */
  text-align: center;
  letter-spacing: 0.25px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding-top: 72px;
  padding-bottom: 48px;
  color: #000000;
}
.main2__body .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.main2__body .boxes h4 {
  font-weight: 400;
  font-size: 25px;
  line-height: 130%;
  /* or 32px */
  padding-top: 26px;
  padding-bottom: 64px;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  text-align: center;
  color: #000000;
}

button {
  cursor: pointer !important;
}

@media (max-width: 1167px) {
  .boxes, .kards {
    grid-column-gap: 0px !important;
  }
}
@media (max-width: 1075px) {
  .boxes, .kards {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-column-gap: 30px !important;
    grid-row-gap: 20px;
  }
  .boxes .kiyimlar, .kards .kiyimlar {
    width: 100%;
  }
}
@media (max-width: 967px) {
  .header__list {
    grid-column-gap: 10px;
  }
}
@media (max-width: 873px) {
  .buttonss {
    width: 100% !important;
  }
  .boxes, .kards {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-column-gap: 30px !important;
    grid-row-gap: 20px;
  }
  .boxes .kiyimlar, .kards .kiyimlar {
    width: 100%;
  }
  .header__list {
    grid-column-gap: 10px;
    grid-template-columns: 1fr;
  }
  .header__list .left, .header__list .right {
    padding: 30px;
  }
  .header__list .left p, .header__list .left h1, .header__list .left h2, .header__list .left h3, .header__list .left h4, .header__list .left h5, .header__list .left h6, .header__list .right p, .header__list .right h1, .header__list .right h2, .header__list .right h3, .header__list .right h4, .header__list .right h5, .header__list .right h6 {
    text-align: center !important;
  }
  .header__list .left .negr, .header__list .right .negr {
    width: 100%;
  }
  .header__list .chap {
    width: 100%;
  }
}
@media (max-width: 577px) {
  .boxes, .kards {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .boxes .kiyimlar, .kards .kiyimlar {
    width: 100%;
  }
  .boxes .box, .boxes .kard, .kards .box, .kards .kard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (max-width: 537px) {
  .preimuwestva {
    flex-direction: column;
    justify-content: center;
  }
  .preimuwestva .n1 {
    margin-right: 0px !important;
  }
  .preimuwestva .flex {
    width: 100%;
  }
  .header__list .left {
    padding: 0px !important;
  }
}
@media (max-width: 477px) {
  .negr {
    display: none;
  }
  .ilyos {
    width: 100%;
  }
}